<%= render partial: "shared/header" %>
<div class="main-bar">
<%= render partial: "shared/side-bar" %>
<div class="current-contents">
  <% @diaries.each do |diary| %>
  <div class="diary">
    <div class="diary-day">
      <%= diary.year.name %>年
      <%= diary.month.name %>月
      <%= diary.day.name %>日
    </div>
    <div class="diary-title">
      <%= diary.title %>
    </div>
  <% end %>
</div>
</div>
