<div class="current-contents">
  <% @diaries.each do |diary| %>
  <div class="diary">
    <div class="diary-day">
      <%= diary.year.name %>年
      <%= diary.month.name %>月
      <%= diary.day.name %>日
    </div>
      <%= link_to diary_path(diary.id), class:"link" do %>
      <div class="diary-title">
      <%= diary.title %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
