<div class="wrapper">
<h1>タイトル</h1>
</div>
<div class="main-bar">
  <div class="side-bar">
    サイドバー
  </div>
  <div class="contents">
  <% @diaries.each do |diary| %>
  <%= diary.title %>
  <%= diary.text %>
  <%= diary.year_id %>
  <%= diary.month_id %>
  <%= diary.day_id %>
  <%= diary.hour_id %>
  <%= diary.minute_id %>
  <% end %>
  </div>
</div>