<%= render partial: "shared/header" %>
<div class="main-bar">
<%= render partial: "shared/side-bar" %>
<div class="current-contents">
  <% @diaries.each do |diary| %>
  <%= diary.title %>
  <%= diary.text %>
  <%= diary.year_id %>
  <%= diary.month_id %>
  <%= diary.day_id %>
  <%= diary.hour_id %>
  <%= diary.minute_id %>
  <% end %>
</div>
</div>
