<div class="main-bar">
  <div class="show-diary">
    <h2>勉強した日</h2>
    <div class="diary-day">
      <%= @diary.year.name %>年
      <%= @diary.month.name %>月
      <%= @diary.day.name %>日
    </div>
    <h2>内容</h2>
    <div class="diary-contents">
      <div class="show-title">
        <%= @diary.title %>
      </div>
      <div class="show-text">
        <%= @diary.text %>
      </div>
      <% if @diary.url_text.present?%>
        <div class="show-url">
          <%= link_to "参考にしたサイト", @diary.url_text, class:"link diary-url"  %>
        </div>
      <% end %>
    </div>
    <h2>勉強時間</h2>
    <div class="diary-time">
      <%= @diary.hour.name %>時間
      <%= @diary.minute.name %>分
    </div>
    <h2>自己評価</h2>
    <h4 class="mb-3">理解度：<%= @diary.rate %>点 </h4>
    <div id="star-rate-<%= @diary.id %>"></div>
      <script>
        $('#star-rate-<%= @diary.id %>').raty({
          size: 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          half: true,
          score: <%= @diary.rate %>,
        });
      </script> 
    <% if user_signed_in? && current_user.id == @diary.user_id %>
      <%= link_to "編集する", edit_diary_path, class:"post edit-btn" %>
      <%= link_to "削除する", "/users/#{current_user.id}/diaries/#{@diary.id}", method: :delete, class:"post delete-btn" %>
    <% end %>
  </div>
    <ul class="lists" id="lists">
    <li><%= link_to "日記",  diaries_path, class:"list" %></li>
    <li><%= link_to "メソッド", manners_path, class:"list"  %></li>
    <li><%= link_to "オプション", options_path, class:"list"  %></li>
    <li><%= link_to "正規表現", expressions_path, class:"list"  %></li>
  </ul>
</div>