<%= render partial: "shared/header" %>
<div class="main-bar">
  <%= render partial: "shared/side-bar" %>
    <%= @diary.year.name %>年
    <%= @diary.month.name %>月
    <%= @diary.day.name %>日
    <%= @diary.title %>
    <%= @diary.text %>
    <%= @diary.url_text %>
    勉強時間
    <%= @diary.hour.name %>時間
    <%= @diary.minute.name %>分
</div>