<div class="main-bar">
  <div class="new-option">
    <%= form_with model: @option, url:options_path, local: true do |f| %>

    <h2>新規作成画面<h2>

    <%= render 'shared/error_messages', model: @option %>

      <%= f.text_field :name, class:"name form-box", placeholder:"オプション名" %>
      <%= f.text_area :text, class:"text form-box", placeholder:"説明" %>    
      <%= f.text_field :url_text, class:"url-text form-box", placeholder:"参考にした記事URL" %>
      <%= f.submit "投稿する", class:"post-btn post" %>
    <% end %>
  </div>
    <ul class="lists" id="lists">
    <li><%= link_to "日記",  diaries_path, class:"list" %></li>
    <li><%= link_to "メソッド", manners_path, class:"list"  %></li>
    <li><%= link_to "オプション", options_path, class:"list"  %></li>
    <li><%= link_to "正規表現", expressions_path, class:"list"  %></li>
  </ul>
</div>