<div class="main-bar">
  <div class="new-option">
    <%= form_with model: @option, url:options_path, local: true do |f| %>

    <div class="title2">新規作成画面</div>

    <%= render 'shared/error_messages', model: @option %>

      <div class="text-box">
        <%= f.text_field :name, class:"name form-box", placeholder:"オプション名" %>
        <%= f.text_area :text, class:"text form-box", placeholder:"説明" %>    
        <%= f.text_field :url_text, class:"url-text form-box", placeholder:"参考にしたサイトURL" %>
        <%= f.submit "投稿する", class:"post-btn post" %>
      </div>
      <% end %>
  </div>
</div>