<div class="main-bar">
  <div class="show-option">
    <h3>オプション名</h3>
    <div class="show-name">
      <%= @option.name %>
    </div>
    <h2>解説</h2>
    <div class="show-text">
      <%= @option.text %>
    </div>
    <% if @option.url_text.present?%>
      <div class="show-url">
        <%= link_to "参考にしたサイト", @option.url_text, class:"link option-url"  %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @option.user_id %>
      <%= link_to "編集する", edit_option_path, class:"post edit-btn" %>
      <%= link_to "削除する", option_path(@option.id), method: :delete, class:"post delete-btn" %>
    <% end %>
  </div>
    <ul class="lists" id="lists">
    <li><%= link_to "日記",  diaries_path, class:"list" %></li>
    <li><%= link_to "メソッド", manners_path, class:"list"  %></li>
    <li><%= link_to "オプション", options_path, class:"list"  %></li>
    <li><%= link_to "正規表現", expressions_path, class:"list"  %></li>
  </ul>
</div>