<%= render partial: "shared/header" %>
<div class="main-bar">
  <%= render partial: "shared/side-bar" %>
  <div class="show-option">
    <h3>オプション名</h3>
    <div class="show-name">
      <%= @option.name %>
    </div>
    <h2>解説</h2>
    <div class="show-text">
      <%= @option.text %>
    </div>
    <% if @option.url_text.present?%>
      <div class="show-url">
        <a href="<% @option.url_text %>">参考にしたサイト</a>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @option.user_id %>
      <%= link_to "編集する", edit_option_path, class:"post edit-btn" %>
      <%= link_to "削除する", option_path(@option.id), method: :delete, class:"post delete-btn" %>
    <% end %>
  </div>
</div>