  <div class="top-bar">
  <div class="wrapper">
  <%= link_to "#{current_user.nickname}の日記", root_path %>
  </div>
  <% if user_signed_in? %>
    <div class="user-nav">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "勉強日記を作成する", new_diary_path, class:"post" %>
    </div>
  <% else %>
    <div class="user-nav">
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
    </div>
  <% end %>
</div>