<div class="main-bar">
  <div class="edit-expression">
    <%= form_with model: @expression, local: true do |f| %>

    <h2>正規表現編集画面<h2>

    <%= render 'shared/error_messages', model: @expression %>

    <%= f.text_field :name, class:"name form-box", placeholder:"正規表現" %>
    <%= f.text_area :text, class:"text form-box", placeholder:"説明" %>    
    <%= f.text_field :url_text, class:"url-text form-box", placeholder:"参考にした記事URL" %>
    <%= f.submit "投稿する", class:"post-btn post" %>
    <% end %>
  </div>
</div>