<div class="main-bar">
  <div class="new-expression">
    <%= form_with model: @expression, url:expressions_path, local: true do |f| %>

    <div class="title2">新規作成画面</div>

    <%= render 'shared/error_messages', model: @expression %>

      <%= f.text_field :name, class:"name form-box", placeholder:"正規表現" %>
      <%= f.text_area :text, class:"text form-box", placeholder:"説明" %>    
      <%= f.text_field :url_text, class:"url-text form-box", placeholder:"参考にしたサイトURL" %>
      <%= f.submit "投稿する", class:"post post-btn" %>
    <% end %>
  </div>
</div>