<%= render partial: "shared/header" %>
<div class="main-bar">
  <%= render partial: "shared/side-bar" %>
  <div class="show-expression">
    <h2>正規表現</h2>
    <div class="show-name">
      <%= @expression.name %>
    </div>
    <h2>解説</h2>
    <div class="show-text">
      <%= @expression.text %>
    </div>
    <% if @expression.url_text.present?%>
      <div class="show-url">
        <a href="<% @expression.url_text %>">参考にしたサイト</a>
      </div>
    <% end %>
    <%= link_to "編集する", edit_expression_path, class:"post edit-btn" %>
  </div>
</div>