<div class="main-bar">
  <div class="new-manner">
    <%= form_with model: @manner, local: true do |f| %>

    <h2>メソッド編集画面<h2>

    <%= render 'shared/error_messages', model: @manner %>

      <%= f.text_field :name, class:"name form-box", placeholder:"メソッド名" %>
      <%= f.text_area :text, class:"text form-box", placeholder:"説明" %>    
      <%= f.text_field :url_text, class:"url-text form-box", placeholder:"参考にした記事URL" %>
      <%= f.submit "投稿する", class:"post post-btn" %>
    <% end %>
  </div>
</div>