<%= render partial: "shared/header" %>
<div class="main-bar">
  <%= render partial: "shared/side-bar" %>
  <div class="index-manners">
    <% @manners.each do |manner| %>
      <div class="manner">
        <%= link_to manner_path(manner.id), class:"link manner-name" do %>
          <%= manner.name %>
        <% end %>
      </div>
    <% end %>
    <%= link_to "メソッドを追加", new_manner_path, class:"post post-btn" %>
  </div>
</div>