<div class="main-bar">
  <div class="search-manners">
    <%= form_with(url: search_manners_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "検索する", class: "search-input" %>
      <%= f.submit "検索", class: "search-btn" %>
    <% end %>
    <div class="contents row">
      <% if @manners.present? %>
        <% @manners.each do |manner| %>
          <div class="manner">
            <%= link_to manner_path(manner.id), class:"link manner-name" do %>
            <%= manner.name %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        検索結果がありません
      <% end %>
    </div>
    <%= link_to "メソッドを追加", new_manner_path, class:"post post-btn" %>
  </div>
</div>