<div class="main-bar">
  <div class="show-manner">
    <div class="title2">メソッド名</div>
    <div class="show-name">
      <%= @manner.name %>
    </div>
    <div class="title2">解説</div>
    <div class="show-text">
      <%= @manner.text %>
    </div>
    <% if @manner.url_text.present?%>
      <div class="show-url">
        <%= link_to "参考にしたサイト", @manner.url_text, class:"link url"  %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @manner.user_id %>
      <%= link_to "編集する", edit_manner_path, class:"post edit-btn" %>
      <%= link_to "削除する", manner_path(@manner.id), method: :delete, class:"post delete-btn" %>
    <% end %>
  </div>
</div>