<%= render partial: "shared/header" %>
<div class="main-bar">
  <%= render partial: "shared/side-bar" %>
  <div class="show-manner">
    <h2>メソッド名</h2>
    <div class="show-name">
      <%= @manner.name %>
    </div>
    <h2>解説</h2>
    <div class="show-text">
      <%= @manner.text %>
    </div>
    <% if @manner.url_text.present?%>
      <div class="show-url">
        <a href="<% @manner.url_text %>">参考にしたサイト</a>
      </div>
    <% end %>
    <%= link_to "編集する", edit_manner_path, class:"post edit-btn" %>
    <%= link_to "削除する", manner_path(@manner.id), method: :delete, class:"post delete-btn" %>
  </div>
</div>