<div class="main-bar">
  <div class="show-manner">
    <h2>メソッド名</h2>
    <div class="show-name">
      <%= @manner.name %>
    </div>
    <h2>解説</h2>
    <div class="show-text">
      <%= @manner.text %>
    </div>
    <% if @manner.url_text.present?%>
      <div class="show-url">
        <%= link_to "参考にしたサイト", @manner.url_text, class:"link manner-url"  %>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.id == @manner.user_id %>
      <%= link_to "編集する", edit_manner_path, class:"post edit-btn" %>
      <%= link_to "削除する", manner_path(@manner.id), method: :delete, class:"post delete-btn" %>
    <% end %>
  </div>
    <ul class="lists" id="lists">
    <li><%= link_to "日記",  diaries_path, class:"list" %></li>
    <li><%= link_to "メソッド", manners_path, class:"list"  %></li>
    <li><%= link_to "オプション", options_path, class:"list"  %></li>
    <li><%= link_to "正規表現", expressions_path, class:"list"  %></li>
  </ul>
</div>