<!DOCTYPE html>
<html>

<head>
  <title>StudyApp</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<link href="https://fonts.googleapis.com/css?family=Vollkorn rel="stylesheet">
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
</head>

<body>

  <header>
    <div class="top-bar">
      <div class="wrapper">
        <h1><%= link_to "Study App", root_path, class:"link top-title" %></h1>
      </div>
      <% if user_signed_in? %>
        <ul><div class="user-nav">
          <li class="list-content"><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class:"top-contents" %></li>
          <li class="list-content"><%= link_to "勉強日記を作成する", new_diary_path, class:"top-contents" %></li>
        </div></ul>
      <% else %>
        <ul><div class="user-nav">
          <li class="list-content"><%= link_to "ログイン", new_user_session_path, class:"top-contents" %></li>
          <li class="list-content"><%= link_to "新規登録", new_user_registration_path, class:"top-contents" %></li>
        </div></ul>
      <% end %>
    </div>
  </header>
  
  <%= yield %>

  <footer>
  <div class="foot-bar">
    <%= link_to "日記",  diaries_path, class:"foot-content" %>
    <%= link_to "メソッド", manners_path, class:"foot-content" %>
    <%= link_to "オプション", options_path, class:"foot-content" %>
    <%= link_to "正規表現", expressions_path, class:"foot-content" %>
  </div>
  </footer>

</body>

</html>